footer.footer 
    .footer__left--container
        .footer__logo 
            img(src='img/favicon.png')
        h3.footer_title Swipegestion

    .footer__right--container
        ul.footer__nav
            li: a(href='#') About us |
            li: a(href='#') Download App |            
            li: a(href='#') Contact
        p  &copy; By Kevin Nguyen All rights reserved