.container {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 50px 400px;
  background-image: linear-gradient(
    to right top,
    #78dc9f,
    #76d99d,
    #74d79b,
    #72d499,
    #70d297,
    #6dd194,
    #69cf92,
    #66ce8f,
    #61cd8b,
    #5ccc88,
    #56ca84,
    #51c980
  );
}
.active {
  background-color: #5b66dc;
}

#swipeFeedBackMessageContainerRight {
  position: absolute;
  font-size: 32px;
  color: #51c980;
  border: 4px solid #51c980;
  border-radius: 10px;
  padding: 5px 100px;
  letter-spacing: 2px;
  top: 0px;
  right: 0px;
  transform: rotate(35deg);
  opacity: 0;
  z-index: 1000;
}

#swipeFeedBackMessageContainerLeft {
  position: absolute;
  font-size: 32px;
  color: Red;
  border: 4px solid red;
  border-radius: 10px;
  padding: 5px 100px;
  letter-spacing: 2px;
  top: 0px;
  left: 0px;
  transform: rotate(-35deg);
  opacity: 0;
  z-index: 1000;
}

#swipeFeedBackMessageContainerCenter {
  position: absolute;
  font-size: 32px;
  color: #f5cf75;
  border: 4px solid #f5cf75;
  border-radius: 10px;
  padding: 5px 100px;
  letter-spacing: 2px;
  z-index: 1000;
  opacity: 0;
  top: 0;
}
.content-section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  box-shadow: 0px 10px 30px rgba(100, 100, 111, 0.8);
  background-color: #ffff;
}
.content-section-top {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
  background-color: #5b66dc;
  color: #fff;
}
.content-section-bottom {
  display: flex;
  flex-direction: row;
}
.content-section-left {
  width: 30%;
  height: 100vh;
  text-align: center;
  box-shadow: 5px 10px 20px rgba(100, 100, 111, 0.5);
  background-color: #333333;
}

ul.list-container {
  list-style-type: none;
  padding: 0px 0px;
  font-size: 20px;
}
.sidebar-icon {
  color: white;
  font-size: 30px;
}
li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
  padding: 20px 10px;
  cursor: pointer;
}

li::before {
  position: absolute;
  height: 70%;
  width: 0%;
  margin-left: -10px;
  background-color: #5b66dc;
  content: "";
  transition: all 1s;
}

li:hover::before {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-left: -10px;
  background-color: #5b66dc;
  content: "";
  transition: all 0.5s;
}
li p,
li i {
  color: white;
  margin: 0px 0px;
  z-index: 999;
}
.content-section-right {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 99.8vh;
  width: 70%;
  background-color: white;
}

.top-right-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  margin-bottom: 5px;
}
.image-section {
  width: 33.33%;
}

.right-section-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.bottom-right-section {
  width: 99.9%;
}
.bottom-title {
  width: 98.8%;
  padding: 20px 5px;
  background-color: #5b66dc;
  color: white;
  box-shadow: 0px 2px 10px rgba(100, 100, 111, 0.5);
  height: 2%;
  margin-bottom: 5px;
}

.bottom-title h3 {
  margin: 0px;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 70.5vh;
}

.bottom-content-container {
  height: 58vh;
  width: 60%;
  box-shadow: 2px 2px 10px rgba(100, 100, 111, 0.5);
  margin-bottom: 20px;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  top: 15px;
}

.image-content-container {
  height: 50vh;
}

.right-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.blur-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px;
  margin-top: 10px;
}
h5.subTitle,
h3.title {
  margin: 0px;
}
h3.title {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80px;
  position: absolute;
  bottom: 0;
}
#recently-added-title {
  position: relative;
}
#recently-added-title::after {
  display: block;
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #5b66dc;
  content: "";
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.recentlyAddedContainer {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 420px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px;
}
.recently-added-img-container {
  width: 48%;
  height: 150px;
  margin: 2px 2px;
}
.recently-added-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.slideRightAnim {
  animation-name: slideright;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideLeftAnim {
  animation-name: slideLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideUpAnim {
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.hidden {
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    margin-top: 500px;
  }

  20% {
    margin-top: 520px;
  }

  100% {
    margin-top: 0px;
  }
}
@keyframes slideright {
  0% {
    margin-left: 0px;
    opacity: 1;
  }
  50% {
    margin-left: 1200px;
    opacity: 1;
  }
  99% {
    margin-left: 600px;
    opacity: 0;
  }
  100% {
    margin-left: 2200px;
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    margin-left: 0px;
    opacity: 1;
  }
  50% {
    margin-left: -1200px;
    opacity: 1;
  }
  99% {
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    margin-left: -2200px;
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #5b66dc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #5b66dc;
}
