input,
p {
  color: #5b66dc;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0px;
  background-image: url("../img/assets/loginCollage.png");
  background-repeat: cover;

  background-size: 100% auto;
}

.blur {
  display: flex;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  height: 78vh;
  width: 100%;
}

.left-container {
  width: 50%;
  height: 100%;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.left-container {
  flex-direction: column;
}

.login-container {
  width: 500px;
  height: 80%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 0px 50px;
  box-shadow: 5px 5px 10px rgba(17, 17, 17, 0.8);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login-label-container,
.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 100%;
}
.login-button-container {
  justify-content: space-between;
}

#login-button {
  background-color: #349a76;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 24px;
  border: 0px;
  box-shadow: 5px 5px 10px rgba(100, 100, 111, 0.8);
}
#login_icon {
  background-color: #5b66dc;
  transition: box-shadow 0.5s;
  cursor: pointer;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 24px;
}
#login-cover-icon {
  margin-top: -50px;
}
#login-title {
  margin-top: -40px;
  color: #5b66dc;
  margin-bottom: 80px;
}

#login-title::after {
  content: " ";
  display: flex;
  top: 1;
  bottom: 1;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #5b66dc;
  color: green;
}
.form_input {
  padding: 10px 10px;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 5px 5px 10px rgba(100, 100, 111, 0.8);
}

#login_icon {
  box-shadow: 5px 5px 10px rgba(100, 100, 111, 0.8);
}

#login-image {
  width: 100%;
}

.purple {
  text-shadow: 2px 2px #fff;
  color: #5b66dc;
  font-size: 500%;
  padding: 10px 20px;
}

.green {
  text-shadow: 3px 3px #fff;
  color: #349a76;
  font-size: 500%;
  padding: 10px 20px;
}
.action-buttons {
  cursor: pointer;
  margin: 10px 20px;
  font-size: 36px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(100, 100, 111, 0.5);
}

.flaticon-redo-arrow-symbol {
  font-size: 20px;
  width: 15px;
  height: 15px;
  color: #f5cf75;
}
.flaticon-cross-sign {
  color: red;
  font-weight: bold;
}
.flaticon-add {
  color: #349a76;
}
.flaticon-information {
  font-size: 20px;
  width: 15px;
  height: 15px;
  color: rgb(54, 161, 223);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5b66dc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5b66dc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5b66dc;
}
