header.header   
    .header__logo 
        a(href="/")
            img(src='img/favicon.png')
    .searchBar_container
        input(type='text' id='search_one' class="search_bar" placeholder='Search By Hashtags: #tacos #parks #miniGolf...')
        input(type='text' class="search_bar" placeholder='City: Seattle, Bellevue, Kent...')
        <i class="flaticon-loupe" id="search_icon"></i>
        
    nav.nav.nav--tours
        a.nav__el(href='/adventures' id='suggest_btn') Suggestions 
        a.nav__el(href="/signup" id='signup_btn') Signup  
        a.nav__el(href="/login" id='login_btn') Login