.content
  .blur

    .right-container  
      .login-container
        form(action="#" method="POST")
         .login-icon-container
          img(src='img/favicon.png' id="login-cover-icon")
          h1(id="login-title") Swipegestion
         .login-label-container
            <i class="flaticon-user" id="login_icon"></i>
            input(type="text" name="username" class="form_input" placeholder="Username")

         .login-label-container
            <i class="flaticon-lock" id="login_icon"></i>
            input(type="password" name="username" class="form_input" placeholder="Password") 

         .login-button-container
          p Forgot Pasword
          button(type="submit" id="login-button") Login
                