.loading-screen {
  position: relative;
  width: 100%;
  margin-top: 20%;
  display: none;
}
.bottom-content {
  display: none;
}

h2.loading-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}
