$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?b693852afd8726dd5496b63c5b702998") format("truetype"),
url("./flaticon.woff?b693852afd8726dd5496b63c5b702998") format("woff"),
url("./flaticon.woff2?b693852afd8726dd5496b63c5b702998") format("woff2"),
url("./flaticon.eot?b693852afd8726dd5496b63c5b702998#iefix") format("embedded-opentype"),
url("./flaticon.svg?b693852afd8726dd5496b63c5b702998#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "cancel": "\f101",
    "recipe-book": "\f102",
    "information": "\f103",
    "add": "\f104",
    "right-arrow": "\f105",
    "browsing": "\f106",
    "relax": "\f107",
    "car": "\f108",
    "hiking": "\f109",
    "fork": "\f10a",
    "loupe": "\f10b",
    "user": "\f10c",
    "lock": "\f10d",
    "redo-arrow-symbol": "\f10e",
    "cross-sign": "\f10f",
);

.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
.flaticon-recipe-book:before {
    content: map-get($flaticon-map, "recipe-book");
}
.flaticon-information:before {
    content: map-get($flaticon-map, "information");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-browsing:before {
    content: map-get($flaticon-map, "browsing");
}
.flaticon-relax:before {
    content: map-get($flaticon-map, "relax");
}
.flaticon-car:before {
    content: map-get($flaticon-map, "car");
}
.flaticon-hiking:before {
    content: map-get($flaticon-map, "hiking");
}
.flaticon-fork:before {
    content: map-get($flaticon-map, "fork");
}
.flaticon-loupe:before {
    content: map-get($flaticon-map, "loupe");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-lock:before {
    content: map-get($flaticon-map, "lock");
}
.flaticon-redo-arrow-symbol:before {
    content: map-get($flaticon-map, "redo-arrow-symbol");
}
.flaticon-cross-sign:before {
    content: map-get($flaticon-map, "cross-sign");
}
