@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?b693852afd8726dd5496b63c5b702998") format("truetype"),
url("./flaticon.woff?b693852afd8726dd5496b63c5b702998") format("woff"),
url("./flaticon.woff2?b693852afd8726dd5496b63c5b702998") format("woff2"),
url("./flaticon.eot?b693852afd8726dd5496b63c5b702998#iefix") format("embedded-opentype"),
url("./flaticon.svg?b693852afd8726dd5496b63c5b702998#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cancel:before {
    content: "\f101";
}
.flaticon-recipe-book:before {
    content: "\f102";
}
.flaticon-information:before {
    content: "\f103";
}
.flaticon-add:before {
    content: "\f104";
}
.flaticon-right-arrow:before {
    content: "\f105";
}
.flaticon-browsing:before {
    content: "\f106";
}
.flaticon-relax:before {
    content: "\f107";
}
.flaticon-car:before {
    content: "\f108";
}
.flaticon-hiking:before {
    content: "\f109";
}
.flaticon-fork:before {
    content: "\f10a";
}
.flaticon-loupe:before {
    content: "\f10b";
}
.flaticon-user:before {
    content: "\f10c";
}
.flaticon-lock:before {
    content: "\f10d";
}
.flaticon-redo-arrow-symbol:before {
    content: "\f10e";
}
.flaticon-cross-sign:before {
    content: "\f10f";
}
