extends base

block content
    .container 
        .content-section
            .content-section-top 
                h3 All Categories
            .content-section-bottom
                .content-section-left 
                    ul.list-container 
                        li.active 
                            p All Adventures 
                            <i class="flaticon-browsing sidebar-icon"></i>
                        li     
                            p Restaurants
                            <i class="flaticon-recipe-book sidebar-icon"></i>  
                        li 
                            p Home/Decor
                            <i class="flaticon-relax sidebar-icon"></i>        
                        li     
                            p Activies/places
                            <i class="flaticon-car sidebar-icon"></i>    
                        li     
                            p Recipe Ideas!
                            <i class="flaticon-fork sidebar-icon"></i>   
                        li     
                            p Hikes!
                            <i class="flaticon-hiking sidebar-icon"></i>  
                    h3 Recently Added


                .content-section-right
                    .top-right-section 
                        .image-section
                            img(src="img/assets/sushi.jpg" class="right-section-image")
                        .image-section
                            img(src="img/assets/minigolf.jpg" class="right-section-image")   
                        .image-section
                            img(src="img/assets/cooking.jpg" class="right-section-image")                   
                    .bottom-right-section
                        .bottom-title 
                            h3 Use The LEFT And RIGHT Keys To Swipe!
                       
                        include util/loading 
                        //loading bar
                        .bottom-content#bottom-content
                            .bottom-content-container#card 
                                .image-content-container
                                    img(src="img/assets/livingroom.jpg" class="right-content-image") 
                                .blur-title   
                                    h3.title Modern Living Room Designs 
                                    h5.subTitle Home/Decor

                            .button-container 
                                <i class="flaticon-redo-arrow-symbol action-buttons" id="redo-button"></i> 
                                <i class="flaticon-cross-sign action-buttons" id="next-button"></i> 
                                <i class="flaticon-add action-buttons" id="add-button"></i> 
                                #info-button-container
                                    <i class="flaticon-information action-buttons" id="info-button"></i> 
                        

                
//-each adventure in adventures

    //- img(src=`${adventure.image}`)