extends base

block content
    .container 
        .content-section
            .content-section-top 
                h3 LEFT And RIGHT Keys To Swipe!
            .content-section-bottom
                .content-section-left 
                    p left side
                .content-section-right
                    p right side
                
//-each adventure in adventures

    //- img(src=`${adventure.image}`)