doctype html 
html 
    head 
        title SwipeGestion | #{title}
        <meta http-equiv="Content-Security-Policy: script-src 'self' https://hidden-spire-05318.herokuapp.com/api/v1/adventures">
    


        link(rel='stylesheet' href="css/navAndFooter.css")
        link(rel="stylesheet", href="css/font/flaticon.css")
        link(rel='stylesheet', href='css/layout.css')
        link(rel='stylesheet', href='css/adventures.css')
        link(rel='stylesheet', href='css/utils/loading.css')
        
        <link rel="icon" href="img/favicon.png" type="image/icon type">
    body
       
        // Header
        include header/header 

        //content
        block content
        
         
        

        // Footer
        include footer/footer

   

    script(src='/js/adventures/landingPageAdventures.js')


        