@media only screen and (min-width: 1516px) and (max-height: 968px) {
  .recentlyAddedContainer {
    height: 27%;
  }
}
@media only screen and (max-width: 1510px) and (max-height: 968px) {
  .container {
    height: 150vh;
    width: 100%;
    padding: 50px 0px;
  }

  .content-section {
    flex-basis: 80%;
    height: 140vh;
  }

  .content-section-left {
    height: 140.5vh;
    width: 35%;
  }

  .content-section-right {
    height: 125.5vh;
  }

  .bottom-content-container {
    height: 85vh;
  }

  .image-content-container {
    height: 77vh;
  }

  .bottom-content {
    height: 100.5vh;
  }
  .recentlyAddedContainer {
    height: 46%;
  }
}

@media only screen and (max-width: 1480px) {
  .container {
    width: 100%;
    padding: 50px 0px;
  }

  .content-section {
    flex-basis: 80%;
    height: 120vh;
  }

  .content-section-left {
    height: 125.5vh;
    width: 35%;
  }

  .bottom-content-container {
    height: 70vh;
  }

  .image-content-container {
    height: 62vh;
  }

  .bottom-content {
    height: 80vh;
  }
  .recentlyAddedContainer {
    height: 42%;
  }
}

@media only screen and (max-width: 1371px) and (max-height: 770px) {
  .container {
    height: 140vh;
    padding: 50px 0px;
  }
  .bottom-content {
    height: 88vh;
  }
  .bottom-content-container {
    height: 73vh;
  }
  .content-section-left {
    height: 125.5vh;
  }
  .content-section-right {
    height: 125.5vh;
  }

  .recentlyAddedContainer {
    height: 40%;
  }
}

@media only screen and (max-width: 1185px) {
  .nav__el {
    padding: 10px 40px;
  }
}

@media only screen and (max-width: 1060px) {
  .nav__el {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 965px) {
  .nav__el {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 810px) {
  .content-section {
    flex-basis: 90%;
  }

  .nav__el {
    padding: 10px 10px;
  }
}
